@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input, select, textarea{
  color: black;
}

textarea:focus, input:focus {
  color: black;
}

button {
  transition-duration: 0.6s;
}

button:hover {
  background-color: #724164; 
  color: white;
 }
 
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.preserve-white-space {
  white-space: pre;
}